AddType application/octet-stream .pdf

<IfModule mod_headers.c>
	<FilesMatch "\.(bmp|css|flv|gif|ico|jpg|jpeg|js|pdf|png|svg|swf|tif|tiff|woff)$">
		Header unset ETag
		Header set Last-Modified "Tue, 08 Nov 2016 12:54:57 GMT"
		Header set Cache-Control "public, max-age=31536000"
		Header set Expires "Sun, 08 Oct 2017 11:54:57 GMT"
	</FilesMatch>
</IfModule>
FileETag None
